<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student"
          class="com.example.springEducation.SmartBean">
        <constructor-arg name="firstName" value="Senku"/>
        <constructor-arg name="surname" value="Ishigami"/>
        <constructor-arg name="birthdate" value="4 jan 2004"/>
    </bean>
</beans>